.card.container-fluid {
    border-radius: 25px;
  }

.container.my-5.p-5{
    border-radius: 40px;
}

.card.container-fluid.text-center.mx-auto{
    border-radius: 60px;
}

.alert.alert-success.alert-dismissible.fade.show.mt-4{
    border-radius: 60px;
    width: 600px;
}

.alert.alert-danger.alert-dismissible.fade.show.mt-4{
    border-radius: 60px;
    width: 605px;
}

.container.mt-4.mb-4{
    border-radius: 30px;
}